@font-face {
    font-family: 'Courier Prime';
    $src: unquote('url("/static/fonts/courier-prime-regular.ttf")');
    src: $src;
}

.all-content {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    align-items: stretch;
    height: 100vh;
}

.all-content > :nth-child(2) {
    overflow: hidden;
}