@use "sass:color";
@import "./colors.scss";

body {
    margin: 0 !important;
    min-height: 100vh;
    background-color: $primary;
}

.card {
    max-width: 30rem;
    min-width: 10rem;
}

.logo {
    height: 8rem;
    width: 100%;
}