html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Drafty - best tool for aspiring screenwriters
        link(rel="stylesheet", href="/static/styles/index.css")
    body
        h1 Drafty
        if isLoggedIn 
            p Hello #{user}!
        else
            p You are not logged in!