body {
    margin: 0;
}

.logo {
    max-height: 6rem;
    height: 10vw;
}

.hero {
    width: 50vw;
    max-height: 60vh;
}

.fs-big {
    font-size: calc((1.375rem + 1.5vw)*2) !important;
}

.skewed {
    $my: 15rem;
    $angle: -10deg;
    transform: skewY($angle);
    margin-top: $my;
    margin-bottom: $my;
    padding-top: $my/2;
    padding-bottom: $my/4;

    transform-style: preserve-3d;

    & > .skewed-content {
        transform: skewY(-$angle);
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0px auto;
    }
}