.playList {
  display: grid;
  margin: 30px auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0px;
  max-width: 1080px;
  justify-items: center;
}

.screenplay {
  width: 200px;
  height: 282px;
  border: 1px solid #90A4AE;
  padding: 10px;
  position: relative;
  flex-shrink: 0;
  color: black;
  font-family: Courier;
  border-radius: 5px;
  background-color: white;
  transition: 0.3s transform, 0.3s box-shadow;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.screenplay:hover {
  transform: translateY(-10px);
  box-shadow: 6px 15px 5px 0px rgba(0, 0, 0, 0.5);
}

.screenplay .title {
  position: absolute;
  top: 80px;
  left: 10px;
  right: 10px;
  font-size: 2em;
  text-align: center;
}

.screenplay .created {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.screenplay .edit {
  position: absolute;
  inset: 0px;
}

.screenplay .delete {
  position: absolute;
  bottom: 10px;
  left: 20px;
  transition: 0.2s transform;
}
.screenplay .delete:hover {
  transform: scale(1.2, 1.2);
}
.screenplay .delete > svg {
  width: 20px;
  height: 20px;
}
