if type == 'text'
    | Hello!
    |
    | To change your password, click link below, or copy it, and paste into your address bar:
    | #{link}
    | Then, follow instructions on the page.
    |
    | Bye!
    | Drafty
else
    h1 Hello!
    p To change your password, click link below, or copy it, and paste into your address bar:
    a(href=link) #{link}
    p Then, follow instructions on the page.
    p Bye!
    p Drafty