extends _layout.pug

block head
    title Forgot password - Drafty

block content
    h1 Forgot password?
    p Then let's change it!
    form(method="post")
        label E-mail
        input.form-control(type="email" name="email", placeholder="name@example.com")
        .form-text We will send you a link which will let you set your password to something new.
        button.btn.btn-primary.mt-3(type="submit") Send me a link!