extends _layout.pug

block head
    title Changing password - Drafty

block content
    h1 Change password
    form
        if oldPassword
            label.form-group.mb-3
                span.form-label Old password
                input.form-control(name="oldPassword")
                div.form-text We need your old password to be sure that it's really you.
        label.form-group.mb-3
            span.form-label New Password
            input.form-control(name="newPassword")
        button.btn.btn-primary Change password