.buttons[data-v-a21fce40] {
  display: flex;
  padding: 5px;
}
.buttons > *[data-v-a21fce40] {
  flex: 0 1 0;
  white-space: nowrap;
  transition: 0.2s flex-grow, 0.2s flex-shrink;
}
.buttons > button + button[data-v-a21fce40] {
  margin-left: 0.5rem;
}
.buttons > .selected-button[data-v-a21fce40] {
  flex: 1 0 0;
}
