.buttons[data-v-a21fce40] {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.buttons > *[data-v-a21fce40] {
  flex: 1 1 0;
  white-space: nowrap;
}
.buttons > * + *[data-v-a21fce40] {
  margin-top: 0.5rem;
}
.editor[data-v-82ad4dca] {
  display: grid;
  grid-template-columns: 200px 1fr;
}
