extends _layout.pug

block head
    title Drafty
    link(rel="stylesheet", href="/static/styles/screenplayView.css")
    link(rel="stylesheet", href="/static/scripts/edit.css")

block content
    div#app
    script(src="/static/scripts/edit.js")