html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Drafty - best tool for aspiring screenwriters
        link(rel="stylesheet", href="/static/styles/theme.css")
        link(rel="stylesheet", href="/static/styles/index.css")
        include ./favicon.pug
    body
        .bg-primary.pt-1
        .text-center
            .mt-5
                img.img-fluid.hero(src="/static/images/typewriter.svg" alt="Typewriter")
            .mt-5
                img.img-fluid.logo(src="/static/images/logo-full.svg" alt="Drafty")
            
            .mt-3
                if isLoggedIn
                    h3 Hello #{user}!

                div.d-grid.gap-2.d-sm-block.mx-3
                    if isLoggedIn
                        a.btn.btn-primary.btn-lg.me-sm-1(href="/screenplay/view") Enter editor
                        a.btn.btn-secondary.btn-lg(href="/logout") Log out
                    else
                        a.btn.btn-primary.btn-lg.me-sm-1(href="/register") Create account 
                        a.btn.btn-secondary.btn-lg(href="/login") Log in

        .skewed.bg-primary
            .skewed-content.text-white
                .row
                    .col 
                    .col-auto 
                        h1 Why do you need to use Drafty?
                        p.fs-big Because it is #[span.fw-bold great] tool!
                        p.mb-0 Of course, you can use Word, but why would you do this to yourself?
                    .col

        div.container-fluid.fs-3
            .row.align-items-center
                .col 
                .col-11.col-md-5
                    img.img-fluid.shadow.rounded(src="/static/images/demo.gif" alt="demo")
                .col-11.col-md-5.mt-5.mt-md-n5.mx-3
                    p.mb-0 Why should you manually format every element? Drafty will do this for you! 
                .col

        .skewed.bg-secondary.text-white.fs-3
            .skewed-content
                .row.align-items-center
                    .col 
                    .col-11.col-md-5
                        p.mb-0 Why should you store your screenplays on your disc? Drafty can store it for you in the cloud, accessible from every place and from every device!
                    .col-11.col-md-5
                        img.img-fluid.mt-5.mt-md-n5(src="/static/images/cloud.svg" alt="cloud")
                    .col
        
        h1.text-center.mb-5 So why shouldn't you use Drafty?
        .text-wall.text-center.text-uppercase
            p.mb-0 The answer is:
            p.mb-0 There is no reason.
            p.mb-0 So give 
            p.mb-0 Drafty 
            p.mb-0 A chance